*{
    box-sizing: border-box;
}

html,
body{
    margin: 0px;
    height: 100%;
}

.wrapper {
    height: 100%;
}

:root{
    --dark_background_1: #191919;
    --dark_background_2: #262626;
    --dark_background_3: #323232;
    --dark_background_4: #484848;
    --light_background_1: #bfbfbf;
    --light_background_2: #dbdbdb;
    --light_background_3: #f0f0f0;
    --light_background_4: #fcfcfc;

    --dark_font_1: #000000;
    --dark_font_2: #666666;
    --dark_font_3: #a8a8a8;
    --light_font_1: #ffffff;
    --light_font_2: #878787;
    --light_font_3: #737373;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #2b2b2b;
}

.main > .PPGP_Element{
    width: 100%;
    padding: 4px;
    background-color: #323232;
    box-shadow: inset 0px 0px 0px 1px rgba(#222222);
    /*border-bottom: 1px solid #212121;*/
}

.PPGP_Element.navigation{
    min-height: 20px;
}

.PPGP_Element.settings{
    min-height: 50px;
}

.PPGP_Element.drawing__container{
    height: 100%;
}

.PPGP_Element.footer{
    min-height: 20px;
}