@import "/module_styles/btn.css";
@import "/module_styles/navigation.css";
@import "/module_styles/settings.css";
@import "/module_styles/tools.css";
@import "/module_styles/drawing.css";
@import "/module_styles/panel.css";
@import "/module_styles/footer.css";

:root {
    --_font_size_1: .8rem;
    --_font_size_2: 1rem;

    --_font_weight_1: 100;
    --_font_weight_2: 500;

    --_clr_main_1: #191919;
    --_clr_main_2: #262626;
    --_clr_main_3: #323232;
    --_clr_main_4: #484848;

    --_clr_font_1: #ffffff;
    --_clr_font_2: #878787;
    --_clr_font_3: #737373;

    --_shadow_1: #222222;
    --_shadow_2: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
    color: var(--_clr_font_1);
    font-size: var(--_font_size_2);
    font-weight: var(--_font_weight_1);
}

.visually_hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

body {
    height: 100dvh;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: var(--_clr_main_2);
}

.PPGP_Element:is(.navigation__container, .settings__container, .footer__container, .tools__container) {
    background-color: var(--_clr_main_3);
    box-shadow: inset 0px 0px 0px 1px var(--_shadow_1);
}

.PPGP_Element:is(.navigation__container, .settings__container, .footer__container) {
    min-height: 2rem;
    display: flex;
    align-items: center;
    padding-block: .2rem;
    padding-inline: .5rem;
}

.PPGP_Element.settings__container{
    min-height: 3rem;
}

.PPGP_Element.drawing__container {
    height: 100%;
    gap: 1px;
}
.PPGP_Element.tools__container {
    width: 2.5rem;
    height: 100%;
}